---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Servicios from "../components/Servicios.astro";
import Opinion from "../components/Opinion.astro";
import InfoNosotros from "../components/InfoNosotros.astro";
import Maps from "../components/Maps.astro";
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";
---

<Layout
	title="Deal Cargo- Asesoramiento empresarial"
	description="Somos expertos en comercio internacional. Nos dedicamos a brindar asesoramiento integral para empresas."
>
	<main>
		<Intro />
		<Servicios />
		<Opinion />
		<InfoNosotros />
		<Maps />
		<Form />
	</main>
	<Footer />
</Layout>

<style></style>
