---
import Button from "./Button.astro";

const { currentLocale } = Astro;
---

<header id="header-nav" class="fixed top-0 z-50 w-full px-6 py-2">
  <div
    class="w-full max-w-[1400px] m-auto mx-auto flex lg:px-12 items-center justify-between"
  >
    <div class="flex flex-grow basis-0">
      <a href="/" class="bg-white p-1 rounded-md">
        <img
          class="h-auto w-24 lg:w-32"
          src="/Isotipo.webp"
          alt="Logo Deal Cargo"
        />
      </a>
    </div>

    <!-- Menú de navegación para pantallas grandes -->
    <nav
      class="hidden md:flex flex-grow basis-0 w-full gap-x-8 text-lg md:justify-center font-medium"
    >
      <a class="text-white" href="#Servicios" aria-label="Sección servicios"
        >Servicios</a
      >
      <a class="text-white" href="#Nosotros" aria-label="Sección Nosotros"
        >Nosotros</a
      >
      <a class="text-white" href="#Clientes" aria-label="Sección Clientes"
        >Clientes</a
      >
    </nav>

    <!-- Botón de menú para pantallas pequeñas -->
    <button
      id="menu-toggle"
      class="flex flex-grow basis-0 justify-end text-2xl md:hidden z-50"
    >
      <span id="menu-icon" style="margin: auto 0;">☰</span>
    </button>

    <div
      class="hidden md:flex-grow md:basis-0 justify-end whitespace-nowrap md:flex md:text-base"
    >
      <a
        class="md:text-sm lg:text-base md:py-2 md:px-4 text-white border-2 rounded-2xl font-semibold"
        href="#Contactanos"
        aria-label="Contactanos"
      >
        Contactanos
      </a>
    </div>
  </div>

  <!-- Menú de navegación móvil para pantallas pequeñas -->
  <nav
    id="mobile-menu"
    class="bg-black/80 backdrop-blur-3xl hidden w-full flex-col items-center text-center text-2xl fixed top-0 left-0 right-0 h-dvh place-content-center"
  >
    <a
      class="my-4 text__glowing text-white boton-menu"
      href="#Servicios"
      aria-label="Sección servicios">Servicios</a
    >
    <a
      class="my-4 text__glowing text-white boton-menu"
      href="#Nosotros"
      aria-label="Sección Nosotros">Nosotros</a
    >
    <a
      class="my-4 text__glowing text-white boton-menu"
      href="#Clientes"
      aria-label="Sección Clientes">Clientes</a
    >
    <a
      class="my-4 whitespace-nowrap text-center lg:hidden lg:text-base text-white boton-menu"
      href="#Contactanos"
      aria-label="Contactanos"
    >
      Contactanos
    </a>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuToggle = document.getElementById("menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");
    const menuIcon = document.getElementById("menu-icon");


    if (!menuToggle || !mobileMenu || !menuIcon) {
      console.error("Alguno de los elementos no se ha encontrado.");
      return;
    }


    function toggleMobileMenu() {

      if (mobileMenu) {
        mobileMenu.classList.toggle("hidden");
        mobileMenu.classList.toggle("flex");
      }


      if (menuIcon) {
        menuIcon.textContent = menuIcon.textContent === "☰" ? "✕" : "☰";
      }
    }


    menuToggle.addEventListener("click", toggleMobileMenu);


    const menuButtons = document.querySelectorAll(".boton-menu");

    menuButtons.forEach(function (button) {
      button.addEventListener("click", toggleMobileMenu);
    });
  });
</script>
