<section style="background-color: #AE1F23 ;" id="Nosotros" class="py-10">
    <div class="max-w-[1400px] m-auto grid lg:grid-cols-2  gap-4
    mx-auto p-6 md:p-12 lg:p-18">
        <div>
            <h3 class="mx-auto text-balance text-3xl font-semibold uppercase mb-8 mt-6 lg:mt-0 text-white text-center lg:text-start">¿Quiénes somos?</h3>
            <p class="text-pretty mb-6 text-center lg:text-start">
                Somos una empresa integrada por profesionales con vasta
                experiencia en el asesoramiento a empresas en la operatoria de
                comercio exterior.
            </p>
            <p class="text-pretty mb-6 text-center lg:text-start">
                Nuestro equipo de profesionales canaliza todas las consultas
                sobre comercio exterior, con respuestas a medida y estilo
                personalizado, un valor distintivo de nuestro estudio. Estamos
                comprometidos con el proceso de mejora continúa logrando una
                relación de largo plazo con nuestros clientes. Todos los años
                realizamos una evaluación de satisfacción del cliente, para
                comparar nuestro servicio con sus expectativas, y encontrar
                áreas de mejora.
            </p>
            <p class="text-pretty mb-6 text-center lg:text-start">
                Creamos fuertes lazos de confianza con cada uno de los
                participantes de la cadena del comercio internacional, pues
                tenemos la certeza de que estos vínculos es lo más importante
                para poder brindar un servicio eficiente.
            </p>
        </div>

        <div class="relative">
            <img src="nosotros.webp" alt="Imagen Equipo de trabajo" 
            class="lg:absolute rounded-2xl w-full h-auto object-cover lg:w-auto lg:max-h-80 z-20 transition-transform duration-1000 transform  lg:hover:scale-110 ease-in-out" 
                style="bottom: 30px; right: 30px;"
            />
            <img src="nosotros.webp" alt="Imagen Equipo de trabajo" 
                class="hidden lg:absolute lg:block  w-auto max-h-80 rounded-2xl z-10 "
                style="bottom: 0; right: 0; filter: blur(20px);"
            />
        </div>
    </div>
</section>
