<section id="Inicio"
    class="w-full relative h-screen bg-no-repeat bg-center bg-cover snap-center hidden lg:block"
    style="background-image: url(/intro-fondo.webp); "
>
    <div class="w-full h-full bg-black opacity-20"></div>
    <div class="absolute px-6 w-full max-w-[1400px]  mt-10  m-auto inset-x-1 inset-y-1/4">
        <h1
            class="text-center lg:text-start text-5xl font-semibold text-white mb-6 text-wrap"
        >
            Asesoramiento <br /> empresarial
        </h1>
        <p
            class="text-center lg:text-start text-xl  text-pretty mb-12 "
        >
            Somos expertos en comercio internacional. <br />
            Nos dedicamos a brindar asesoramiento integral para empresas.
        </p>
        <div class="w-full flex lg:block">
            <a
                style="background-color: #AE1F23;"
                class="text-white  py-2 px-4 rounded-md uppercase hover:bg-red-200 duration-300 m-auto"
                href="#Contactanos" aria-label="Contactanos" 
            >
                Contactanos
            </a>
        </div>

        <a  href="#Servicios">
            <div class="absolute inset-x-1/2 floating flex justify-center items-center" style="bottom: -4rem;">

                <div class="bg-red-400 blur-sm opacity-10  w-10 h-10 absolute rounded-full z-10">
    
                </div>
                <div class="absolute z-20">
                    <svg  height="30" width="30" viewBox="0 0 512 512"><path fill="#ffffff" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                </div>
            </div>
        </a>


    </div>
</section>

<section id="Inicio"
    class="w-full relative h-screen bg-no-repeat bg-center bg-cover snap-center lg:hidden"
    style="background-image: url(/fondoMovil.webp); "
>
    <div class="w-full h-full bg-black opacity-30"></div>
    <div class="absolute px-6 w-full max-w-[1400px]  mt-10  m-auto inset-x-1 inset-y-1/4">
        <h1
            class="text-center lg:text-start text-5xl font-semibold text-white mb-6 text-wrap"
        >
            Asesoramiento <br /> empresarial
        </h1>
        <p
            class="text-center lg:text-start text-xl  text-pretty mb-12 "
        >
            Somos expertos en comercio internacional. <br />
            Nos dedicamos a brindar asesoramiento integral para empresas.
        </p>
        <div class="w-full flex lg:block">
            <a
                style="background-color: #AE1F23;"
                class="text-white  py-2 px-4 rounded-md uppercase hover:bg-red-200 duration-300 m-auto"
                href="#Contactanos" aria-label="Contactanos" 
            >
                Contactanos
            </a>
        </div>

        <a  href="#Servicios">
            <div class="absolute inset-x-1/2 floating flex justify-center items-center" style="bottom: -4rem;">

                <div class="bg-red-400 blur-sm opacity-10  w-10 h-10 absolute rounded-full z-10">
    
                </div>
                <div class="absolute z-20">
                    <svg  height="30" width="30" viewBox="0 0 512 512"><path fill="#ffffff" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                </div>
            </div>
        </a>


    </div>
</section>
