<div
    class="w-full relative h-96 bg-no-repeat bg-center bg-cover"
    style="background-image: url(/intro-fondo.webp); height: 75vh"
>
    <div class="w-full h-full bg-black opacity-50"></div>
    <div class="absolute px-6 w-full max-w-[1400px]  mt-10  m-auto inset-x-1 inset-y-1/4">
        <h1
            class="text-center lg:text-start text-5xl font-semibold text-white mb-6 text-wrap"
        >
            Asesoramiento <br /> empresarial
        </h1>
        <p
            class="text-center lg:text-start text-xl  text-pretty mb-12 "
        >
            Somos expertos en comercio internacional. <br />
            Nos dedicamos a brindar asesoramiento integral para empresas.
        </p>
        <div class="w-full flex lg:block">
            <a
                class="text-white bg-red-900 py-2 px-4 rounded-md uppercase hover:bg-red-800 duration-300 m-auto"
                href="formulario"
            >
                Contactanos
            </a>
        </div>
    </div>
</div>
