---
import OpinionImageCliente from "./OpinionImageCliente.astro";
import Carousel from "./Carousel";
---

<section class="" style="background-color: #f2f7fd;" id="Clientes">
    <div
        class="max-w-[1400px] m-auto px-6 py-6 md:px-12 md:py-8 lg:px-18 lg:pt-20"
    >
        <h4
            class="mx-auto text-balance text-3xl font-semibold uppercase mb-6 mt-6 lg:mt-0 text-stone-900 text-center lg:text-start"
        >
            Algunos de nuestros clientes
        </h4>
        <p
            class="text-stone-900 text-xl text-pretty mb-6 text-center lg:text-start"
        >
            Estamos profundamente orgullosos de nuestros clientes, quienes con
            su <strong style="color: #AA2A2A;">confianza</strong> y <strong
                style="color: #AA2A2A;">compromiso</strong
            > nos inspiran día a día.
        </p>
        <Carousel client:load />
        <div
            class={`
                grid lg:grid-cols-8 md:grid-cols-3 auto-rows-4rem] lg:gap-0 gap-6
                mx-auto p-2 md:p-12 lg:p-18
            `}
        >
            <OpinionImageCliente
                imgLogo="/Powercom.webp"
                link="https://powercomsa.com.ar/"
                class="lg:col-span-2 lg:row-span-1 col-span-1"
            />
            <OpinionImageCliente
                imgLogo="/AlucoMax.webp"
                link="https://www.alucomax.com.ar/"
                class="lg:col-span-2 lg:row-span-1 col-span-1"
            />
            <OpinionImageCliente
                imgLogo="/Asecon.webp"
                link="https://aseconsrl.com.ar/"
                class="lg:col-span-2 lg:row-span-1 col-span-1"
            />
            <OpinionImageCliente
                imgLogo="/Bimbo.webp"
                link="https://www.bimbo.com.ar/"
                class="lg:col-span-2 lg:row-span-1 col-span-1"
            />
            <OpinionImageCliente
                imgLogo="/CableParts.webp"
                link="https://www.cablepartsnet.com.ar/"
                class="lg:col-span-4 lg:row-span-1 col-span-1"
            />
            <OpinionImageCliente
                imgLogo="/Gimnasia.webp"
                link="https://www.gimnasia.org.ar/"
                class="lg:col-span-4 lg:row-span-1 col-span-1"
            />
            <OpinionImageCliente
                imgLogo="/MachVision.webp"
                link="https://www.linkedin.com/company/machvision/?originalSubdomain=ar"
                class="lg:col-span-2 lg:row-span-1 col-span-1"
            />
            <OpinionImageCliente
                imgLogo="/Aryes.webp"
                link="https://www.aryesargentina.com.ar/"
                class="lg:col-span-2 lg:row-span-1 col-span-1"
            />
            <OpinionImageCliente
                imgLogo="/Fasten.webp"
                link="https://fasten.com.ar/es/"
                class="lg:col-span-2 lg:row-span-1 col-span-1"
            />
            <OpinionImageCliente
                imgLogo="/PuntoYComa.webp"
                link="https://www.puntoycomaweb.com.ar/quienes_somos.html"
                class="lg:col-span-2 lg:row-span-1 col-span-3"
            />
        </div>

        
    </div>
</section>
