---
import ServiciosItem from "./ServiciosItem.astro";
---

<section class="w-full max-w-[1400px] m-auto mt-10 py-10 " id="Servicios">
    <h2
        class="mx-auto px-6 py-0 md:px-12 md:py-0 lg:px-18 lg:pt-12 text-balance text-3xl font-semibold uppercase text-white text-center lg:text-start"
    >
        Servicios
    </h2>
    <div
        class={`
            grid lg:grid-cols-10 auto-rows-[28rem] gap-4
            mx-auto p-6 md:p-12 lg:p-18
        `}
    >
        <ServiciosItem
            class="col-span-10 sm:col-span-10"
            title="Importación / Exportación"
        >
            <div
                slot="image"
                class="transition-scale absolute bottom-0 left-0 top-0
            -z-10 h-full w-full bg-black-900
            bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
                style="background-image: url('/servicioscontainers.webp')"
            >
            </div>

            <ul slot="content">
                <li class="text-base font-medium lg:font-normal">
                    - Administración y seguimiento de Órdenes de Compra al
                    exterior.
                </li>
                <li class="text-base font-medium lg:font-normal">
                    - Gestión de documentación de embarques.
                </li>
                <li class="text-base font-medium lg:font-normal">
                    - Tracking de embarques.
                </li>
                <li class="text-base font-medium lg:font-normal">
                    - Previsión de gravámenes y gastos.
                </li>
                <li class="text-base font-medium lg:font-normal">
                    - Contacto con prestadores de servicios.
                </li>
                <li class="text-base font-medium lg:font-normal">
                    - Manejo y recupero de reintegros a la exportación.
                </li>
            </ul>
        </ServiciosItem>

        <ServiciosItem
            class="lg:col-span-6 sm:col-span-10"
            title="Asesoramiento Empresarial"
        >
            <div
                slot="image"
                class="transition-scale absolute bottom-0 left-0 top-0
                -z-10 h-full w-full bg-black-900
                bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
                style="background-image: url('/serviciosFinanzas.webp')"
            >
            </div>
            <ul slot="content">
                <li class="text-base font-medium lg:font-normal">
                    - Inscripción como importador/exportador ante Aduana.
                </li>
                <li class="text-base font-medium lg:font-normal">
                    - Análisis de Mercado.
                </li>
                <li class="text-base font-medium lg:font-normal">
                    - Asesoría en Secretaria de Comercio.
                </li>
                <li class="text-base  font-medium lg:font-normal">
                    - Gestión de la presentación de la Proyección Comex 2020 y
                    tramitación de LNA.
                </li>
                <li class="text-base  font-medium lg:font-normal">
                    - Asesoramiento legal, derechos y obligaciones en Comercio
                    Internacional.
                </li>
            </ul>
        </ServiciosItem>

        <ServiciosItem
            class="lg:col-span-4 sm:col-span-10"
            title="Gestión empresarial"
        >
            <div
                slot="image"
                class="transition-scale absolute bottom-0 left-0 top-0
                    -z-10 h-full w-full bg-black-900
                   
                    bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
                style="background-image: url('/serviciosEmpresarial.webp')"
            >
            </div>
            <ul slot="content">
                <li class="text-base font-medium lg:font-normal">
                    - Tramitación de giros al exterior.
                </li>
                <li class="text-base font-medium lg:font-normal">
                    - Comunicación A 6401 – “Relevamiento de Activos y Pasivos
                    externos”.
                </li>
            </ul>
        </ServiciosItem>
    </div>


</section>
