.slideC {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 362px;
  height: 272px;
  margin: 0 auto;
}

.slide {
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
  position: absolute;
  top: 0;
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* 3D reflection effect */
.reflection {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: -60px;
  border-radius: 12px;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
}





/* normal css  */



.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btns {
  padding-top: 160px;

  
}

.btns .btn {
  cursor: pointer;
}

.btns .btn:last-child {
  margin-left: 40px;
}

/* normal css  */
